@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header h1{
    display: grid;
    place-items: center;
    font-family: 'Condiment', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-variation-settings:
            "width" 100;

}
header p{
    font-family: 'Condiment', sans-serif;
    display: grid;
    place-items: center;
    font-size: 20px;
}
nav{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
#nav_links{
    list-style-type: none;
    text-align: center;
    margin: 0;
}
li{
    display: inline-block;
    place-items: center;
    padding: 10px;
}

#band_grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(100px, auto));
    grid-gap: 15px 10px;
    align-items: stretch;
    justify-content: center;
}

.band_item{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    grid-gap: 10px;
    grid-template-areas:
    "image name"
    "image description"
    "image description";
    background-color: mediumpurple;
}

.band_image{grid-area: image;}
.band_name{grid-area: name;}
.band_description{grid-area: description;}

#bands_represented{
    grid-column: 1 / span 3;
    text-align: center;
}
@media (max-width: 640px) {
    #band_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #bands_represented {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 400px) {
    #band_grid {
        grid-template-columns: 1fr;
    }
    #bands_represented {
        grid-column: 1 / -1;
    }
    .band_item {
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "number"
            "title"
            "description";
    }
}

body{
    background-color: lightgray;
}
#contact_form h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.contact_form_info{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
#contact_form input{
    padding: 10px;
}
footer{
    text-align: center;
    max-width: 100%;
    font-family: 'Condiment', sans-serif;
}

